#actual{
    padding: 0px 15px 20px;
    
    overflow: hidden;
    position: relative;
    @include breakpoint (medium up) {
        padding: 0px 40px 20px;
    }
    @include breakpoint (large up) {
        padding: 0px 40px 50px;
        padding-bottom: 50px;
    }
    @include breakpoint (xlarge up) {
        padding-bottom: 50px;
    }
    .title{
        text-align: left;
        padding-top: 0;
        @include breakpoint (medium up) {
            padding-bottom: 40px;
        }
        @include breakpoint (large up) {
            padding-bottom: 50px;
        }
        @include breakpoint (xlarge up) {
            padding-bottom: 60px;
        }
    }
    .actual-items-wrapper{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        @include breakpoint (large up) {
            display: flex;
            flex-wrap: wrap;
            align-items: self-start;
            width: 100%;
            justify-content: space-between;
        }
        @include breakpoint (xlarge up) {
            padding-bottom: 20px;
        }


        .actual-item{
            
            &.large{
                display: flex;
                position: relative;
                width: 100%;
                margin: 0 auto;
                @include breakpoint( medium up){
                    border-left: 0;
                }
                @include breakpoint( large up){
                    display: flex;
                    border-left: 0;
                    flex-wrap: wrap;
                    overflow: hidden;
                    height: 0;
                    padding-bottom: 405px;
                    
                }

                .img-wrap{
                    height: 0;
                    padding-bottom: 272px;
                    overflow: hidden;
                    position: relative;
                    padding-left: 15px;
                    @media screen and (min-width: 768px){
                        padding-bottom: 345px;
                        width: 100%;
                    }
                    @include breakpoint (large up) {
                        padding-bottom: 405px;
                        padding-left: 0;
  
                    }
                img{
                    width: 100%;
                    max-width: 420px;
                    position: relative;
                    left: -90px;
                    @media screen and (min-width: 768px){
                        min-width: 532px;
                    }
                    @include breakpoint( large up){
                        width: 100%;
                        max-width: 613px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                    }
                    @include breakpoint( xlarge up){
                        flex: 0 0 100%;
                        width: 100%;
                        position: relative;
                    }
                }
                }
                .product-text{
                    border: 1.2px solid #A89E5E;
                    padding: 20px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 15px;
                    margin-top: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 50%;
                    z-index: 0;
                    @include breakpoint( medium up){
                        right: 0px;
                        width: 50%;
                        padding: 30px;
                    }
                    @media screen and (min-width: 768px){
                        padding-left: 55px;
                    }
                    @include breakpoint( large up){
                        border: 1.2px solid #A89E5E;
                        padding: 25px 35px 20px 50px;
                        position: inherit;
                        width: 50%;
                        top: unset;
                        right: unset;
                        position: absolute;
                        transform: unset;
                        right: 0;
                        top: 0;
                        bottom: 0;
                    }
                    @include breakpoint( xlarge up){
                        // position: unset;
                        // margin-top: -116px;
                        padding: 53px 70px 53px 55px;
                        // width: 90%;
                    }
                    h5{
                        font-size: 16px;
                        margin-bottom: 0;
                        @include breakpoint( medium up){
                            font-size: 17px;
                        }
                        @include breakpoint (large up) {
                            font-size: 29px;
                        }
                        @include breakpoint (xlarge up) {
                            padding-bottom: 25px;
                        }
                        
                    }
                    p{
                        font-size: 10px;
                        @include breakpoint( medium up){
                            font-size: 12px;
                        }
                        @include breakpoint (large up){
                            font-size: 16px;
                        }
                        
                    }
                    a{
                        margin: 15px auto 0 0;
                        font-size: 12px;
                        color: #027E1B;
                        font-weight: 900;
                        font-family: "Amiri";
                        display: inline-block;
                        background: transparent;
                        border: 1.2px solid #027E1B;
                        transition: .3s ease-in-out;
                        ;
                        &:hover{
                            background: #027E1B;
                            color: #fff;
                            transition: .3s ease-in-out;
                        }
                        @include breakpoint( medium up){
                            font-size: 12px;
                        }
                        @include breakpoint( large up){
                            position: unset;
                            transform: unset;
                            margin-top: 30px;
                            font-size: 16px;
                        }
                    }
                }
            }

            &.small{
                cursor: pointer;
                margin-bottom: 32px;
                flex: 0 0 50%;
                padding: 0 25px;
                @include breakpoint (medium up) {
                    padding: 0 7.5px;
                }
                @media screen and (min-width: 768px){
                    flex: 0 0 33%;

                }
                @include breakpoint (large up) {
                    padding: 0 25px;
                    margin-bottom: 50px;
                }
                @include breakpoint (xlarge up) {
                   flex: 0 0 25%;
                }
                img{
                    transition: .3s ease-in-out;
                    opacity: .8;
                    width: 100%;
                    @include breakpoint (large up) {
                        width: 100%;
                        
                    }
                }
                .product-text{
                    border: 1.2px solid #A89E5E;
                    width: 90%;
                    margin: -63px auto 0;
                    padding: 25px 15px;
                    @include breakpoint (medium up) {
                        padding: 25px;
                    }

                    @include breakpoint (large up) {
                        padding: 25px 30px 25px 20px;
                    }
                    
                    h5{
                        font-size: 16px;
                        @include breakpoint (large up) {
                            font-size: 16px;
                            padding-bottom: 15px;
                        }
                    }
                    p{
                        font-size: 10px;
                        @include breakpoint (large up) {
                            font-size: 12px;
                        }
                    }
                }
                &:hover{
                    img{
                        transform: scale(1.1);
                        opacity: 1;
                        transition: .3s ease-in-out;
                    }
                }
            }

        }
        .actual-wrapp{
            display: flex;
            flex-wrap: wrap;
            width: auto;
            justify-content: center;
            margin: 30px -25px 0;
            @include breakpoint (medium up) {
                margin: 30px -12px 0;
            }
            @include breakpoint (large up) {
                margin: 30px -31.5px 0;
            }
            @include breakpoint (xlarge up) {
                margin: 30px -25px 0;
            }

        }


    }
    .btn{
        margin: 0 auto 0;
        @include breakpoint (large up) {
           position: absolute;
           bottom: 0;
           left: 50%;
           transform: translateX(-50%);
        }
    }
    
}