.page-title {
	font-size: 2rem;
	margin-bottom: 1.5rem;
	@include breakpoint(medium){
		font-size: 3rem;
	}
	&--loop {
		font-size: 1.25rem;
		@include breakpoint(medium){
			font-size: 1.5rem;
		}
	}
}

.section-title {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
	@include breakpoint(medium){
		font-size: 2rem;
	}
}

h1,h2,h3,h4,h5,h6 {
	a:not(:hover){
		color: inherit;
	}
}